*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial, Helvetica', sans-serif;
}
body{
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background: #fff;
    position: relative;
    margin: 50px;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}
.container .left-side{
    position: relative;
    background: #003147;
    padding:40px;
}
.container .right-side{
    position: relative;
    background: #fff;
    padding:40px;
}
.image{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.info{
    padding-top: 40px;
    
}
.title{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.info ul{
    position: relative;
}
.info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.info ul li .icon{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.info ul li span{
    color: #fff;
    font-weight: 300;
}
.info.education li{
    margin-bottom: 30px;
}
.info.education h4{
    color: #fff;
    font-weight: 500;
    margin: 8px 0;
}
.info.education h5{
    color: #fff;
    font-weight: 500;
    margin: 8px 0;
}
